<div class="navigationContainer">
<div class="upperNavbar">
<a href="/"><div class="websiteLogoContainer"></div></a>    
<div class="otherOptionsDiv">
        <div class="moreOptionsAndSubmenu">
        <div class="moreOptions">More<div class="arrowUpOrDown"></div></div>
        <div class="moreOptionsSubmenu">
            <div class="eachSubmenuOption submenuFirstOption"><img src="images/signin.png" alt=""  class="submenuIcons"><a href="/login">Sign In</a></div>
            <div class="eachSubmenuOption submenuSecondOption"><img src="images/createAccount.png" alt=""  class="submenuIcons"><a href="/create_account">Create Account</a></div>
            <div class="eachSubmenuOption submenuThirdOption"><img src="images/yourorders.png" alt="" class="submenuIcons"><a href="#">Your Orders</a></div>
        </div>
        </div>
</div>    
</div>    
<div class="lowerNavbar">
    <div class="searchAndCart">
        <div class="searchContainer">
            <div class="searchBar">
                <div class="searchInputDiv"><input type="text" class="searchInput"></div>
                <div class="searchIconContainer"><img src="images/search.png" alt=""></div>
            </div>
        </div>
        <div class="cartContainer"><div class="cartDiv"><div class="zeroDiv">0</div><div class="cartTextAndImageDiv"><div class="imageDiv"><img src="images/cart.png" height="40px" width="40px"></div><div class="cartTextDiv">Cart</div></div></div>    </div>
    </div>
</div>    
</div>