<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create_account_verification_otp_on_email</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding:0;
}    
.createAccountOtpFormContainer{
    height:100vh;
    width:100%;
    background-color:rgb(190, 190, 182);
    display:flex;
    align-items: center;
    justify-content: center;
}    
.formDiv{
    height:50vh;
    width:380px;
    background-color:#d7d7d7;
    border-radius:10px;
    display: flex;
    flex-direction: column;
}
.otpTextDiv{
    height:20%;
    /* background-color: rgb(153, 119, 119); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:20px;
}
.text1{
    font-size:50px;
}
.text2EmailOfPerson a{
    text-decoration: none;
    font-size:18px;
}
.otpFormDiv{
    height:60%;
    width:100%;
    /* background-color:brown; */
}
.otpForm{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.otpInputDiv{
    height:45%;
    width:100%;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.otpInput{
    height:70%;
    width:93%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.otpInputTag{
    height:100%;
    width:100%;
    font-size:25px;
    border-radius:10px;
    border:none;
}
.otpInputTag:focus{
    outline: none;
}
.otpInputTag1:hover{
    border-style: solid;
    border-color:gold;
    box-shadow:1px 1px 5px gold;
}
.passwordInputDiv{
    height:33%;
    width:93%;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    border-radius: 10px;
    margin: auto;
}
.showPasswordIcon{
    height:100%;
    width:20%;
    background-color: white;
    border-radius:0px 10px 10px 0px;
    background-image:url(images/show.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 40%;
    cursor:pointer;
}
.hidePasswordIcon{
   height:100%;
    width:20%;
    background-color: white;
    border-radius:0px 10px 10px 0px;
    background-image:url(images/hide.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 40%;
    cursor:pointer;
}
.passwordInputDiv input{
    border-radius:10px 0px 0px 10px;
}
.passwordInput{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.passwordInputDiv:hover{
    border-style: solid;
    border-color:gold;
    box-shadow:1px 1px 5px gold;
}

.createAccountButtonDiv{
    height:50%;
    width:100%;
    /* background-color:coral; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.createAccountButton{
    height:100%;
    width:100%;
    /* background-color:pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.createAccountButtonTag{
    height:65%;
    width:50%;
    border-radius:50px;
    border: none;
    font-size:20px;
    color: white;
    background-color:#506a50;
    cursor: pointer;
}
.createAccountButtonTag:hover{
    background-color:#5f865f;
}
.forgotPasswordOptionDiv{
    height: 10%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    padding-left:10px;
}
.forgotPasswordOptionDiv .forgotPasswordOption a{
    text-decoration: none;
}
.signInFormOtherOptions{
    height:10%;
    /* background-color: rgb(153, 119, 119); */
    display: flex;
    padding-left:10px;
    align-items: center;
    font-size:20px;
}
.createAccountLink a{
    text-decoration: none;
    font-size: 15px;
    margin-left:5px;
}
.createAccountTextAndLink{
    display: flex;
    align-items: center;
    justify-content: center;
}
.createAccountText{
    font-size:19px;
}
/* media queries */
@media(max-width:393px){
    .formDiv{
    height:50vh;
    width:300px;
    }
    .createAccountButtonTag{
    height:70%;
    width:50%;
    font-size:16px;
    }
    .createAccountLink a{
    text-decoration: none;
    font-size: 13px;
    margin-left:5px;
    }
    .createAccountText{
    font-size:15px;
    }
}
@media(max-width:309px){
    .formDiv{
    height:50vh;
    width:270px;
    }
    .createAccountButtonTag{
    height:70%;
    width:50%;
    font-size:16px;
    }
    .text1{
    font-size:40px;
    }
    .createAccountLink a{
    text-decoration: none;
    font-size: 11px;
    margin-left:5px;
    }
    .createAccountText{
    font-size:13px;
    }
}
@media(max-width:280px){
    .formDiv{
    height:40vh;
    width:250px;
    }
    .createAccountButtonTag{
    font-size:14px;
    }
    .text1{
    font-size:35px;
    }
    .createAccountLink a{
    font-size: 8px;
    }
    .createAccountText{
    font-size:10px;
    }
}
@media(max-width:256px){
    .formDiv{
    height:30vh;
    width:200px;
    }
    .createAccountButtonTag{
    font-size:10px;
    }
    .text1{
    font-size:30px;
    }
    .otpFormDiv{
    height:65%;
    }
    .signInFormOtherOptions{
    height:15%;
    font-size:17px;
    }
}

</style>    
</head>
<body>
    <div class="createAccountOtpFormContainer">
        <div class="formDiv">
            <div class="otpTextDiv">
                <div class="text1">Sign In</div>
            </div>
            <div class="otpFormDiv">
               <form class="otpForm" method="POST" action="/login">
                       <div class="otpInputDiv"><div class="otpInput"><input type="email" placeholder="Email" class="otpInputTag otpInputTag1" name="email"></div></div>  
                       <div class="otpInputDiv passwordInputDiv">
                               <div class="otpInput passwordInput"><input type="password" placeholder="Enter Password" class="otpInputTag" name="password" id="passwordInput"></div>
                               <div class="showPasswordIcon" id="showPasswordIcon"></div>
                       </div>  
                       <div class="createAccountButtonDiv"><div class="createAccountButton"><input type="submit" value="Sign In" class="createAccountButtonTag"></div></div>
               </form>
            </div>
            <div class="forgotPasswordOptionDiv">
                <div class="forgotPasswordOption"><a href="/enter_email_to_forgot_password">Forgot Password</a></div>    
            </div>
            <div class="signInFormOtherOptions">
                <div class="createAccountTextAndLink">    
                <div class="createAccountText">If you not have Account</div>
                <div class="createAccountDiv"><div class="createAccountLink"><a href="/create_account">Create Account</a></div></div>
                </div>
            </div>     
        </div>
    </div>
</body>
<script>
    let showPasswordIcon=document.getElementById("showPasswordIcon");
    let passwordInput=document.getElementById("passwordInput")
    showPasswordIcon.addEventListener("click",function(){
        if(Array.from(showPasswordIcon.classList).length==1){
         showPasswordIcon.classList.add("hidePasswordIcon")
         passwordInput.type="text";
        }
        else{
         showPasswordIcon.classList.remove("hidePasswordIcon")
         passwordInput.type="password";
        }
    })
</script>
</html>